#Directories
references/
*quant/
*quant_D2/
NeuN/

#Outputs and heavy files (except graphs)
*.rds
DE_results.csv
RNAseq_universe.csv
GSM*
GSE*
Metadata_from_Paper.xlsx
*.bgz.tbi
*.bgz
stats_table.csv
full_qc_report*
WGBS Graphs D2.pdf
M_CpG_matrix.csv
Additional_f6_ST4.txt
RNA-Seq Graphs*

#R
.Rhistory