#Directories
references/
*quant/
*quant_D2/
ML_eQTM_model/
.vscode/
rnaseq/
wgbs/

## Outputs and heavy files (except graphs)
#Data files
GSM*
GSE*
*.tar
*.rds
*.bgz.tbi
*.bgz
*.sf
#Results heavy files
DE_results.csv
meth25p.csv
DM_sites_Met*
stats_table.csv
RNAseq_universe.csv
M_CpG_matrix.csv
Method_final_df.xlsx
!session_info*
Upset_genes.xlsx
ground_truth.tsv
#Others
Metadata_from_Paper.xlsx
full_qc_report*
Additional_f6_ST4.txt
Output_data_tmp*
eqtm_pairs.tsv


#Graphs
*.pdf

#R
.Rhistory
R_libraries*

#ML model
model1.pkl
model1_test_data.tsv